
@{
    ViewData["Title"] = "EventDetail";
}
@model WebMvc.ViewModels.EventDetailViewModel

<body>
    <div class="row top-buffer row-eq-height">
        <div class="col-sm-7">

            <img src="@Model.ImageUrl" alt="Event Picture" class="eventImg">
        </div>
        <div class="col-sm-4 bg-light">
            <div>
                <span>@Model.StartDate</span>
            </div>
            <div>
                <span>@Model.Title</span>
            </div>
            <div>
                <span>@Model.OrganizerName</span>
            </div>
            <div>
                <span>@Model.Price.ToString("N2")</span>
            </div>    
        </div>
    <div>
        <div class="row top-buffer">
            <div class="col-sm-8">
                
                    <!--Share and save options-->
                
            </div>
            <div class="col-sm-2">
               
                    <!--register button-->
                
            </div>
        </div>
    </div>
    <hr>
    <div>
        <div class="row top-buffer">
            <div class="col-sm-7">
               
                    <h3>Description</h3>
                    <p></p><!--Description of event-->
                    
                    <h3>Tags</h3>
                    <!--Tags associated with the event-->
                    <h3>Share With Friends!</h3>
                    <!--Add sharing using Facebook, Twitter, LinkedIn, Email-->
               
            </div>
            <div class="col-sm-4">
               
                    <h3>Date and Time</h3>
                    <p>@Model.StartDate</p><!--Date and time of the event-->
                    <h3>Location</h3>
                    <p>@Model.Address</p><!--Location of the event-->
                    <h3>View Map</h3>
                    <!--link to the Google map at bottom of page-->
                
            </div>
        </div>
    </div>
    <hr>
    <div class="centered-text top-buffer">
        <h3>Organizer Information</h3>
        <p></p>

        <!--MAP-->

    </div>
</body>



