
@{
    ViewData["Title"] = "EventDetail";
}
@model WebMvc.ViewModels.EventDetailViewModel


<body>
    <div class="container">
        <div class="row equal">
            <div class="col-sm-7 ">

                <img src="@Model.ImageUrl" alt="Event Picture" class="eventImg img-fluid">
            </div>
            <div class="col-sm-4 bg-light">
                <div class="padding fancydate">
                    <span>@Model.FancyStartDate</span>
                </div>
                <div class="padding">
                    <H2>@Model.Title</H2>
                </div>
                <div class="padding grayText">
                    <span>Organized by <a href="#organizer">@Model.OrganizerName</a></span>
                </div>
                <div class="padding grayText">
                    <br />
                    <span>$@Model.Price.ToString("N2")</span>
                </div>
            </div>
        </div>
    </div>
    <div>
        <div class="row top-buffer">
            <div class="col-sm-7 padding">

                <!--Share and save options-->
                

            </div>
            <div class="col-sm-4">
                <form>
                    <input class="register-button" type="submit" value="REGISTER" />
                </form>
                    
                    <!--register button-->

            </div>
        </div>
    </div>
    <hr>
    <div>
        <div class="row top-buffer">
            <div class="col-sm-7">

                <h3>Description</h3>
                <p>@Model.EventDescription</p><!--Description of event-->

                <h3>Share With Friends!</h3>
                <a href="https://twitter.com/share?ref_src=twsrc%5Etfw" class="twitter-share-button" data-show-count="false">Tweet</a>
                <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>


            </div>
            <div class="col-sm-4">
                <h3>Date and Time</h3>
                <p>@Model.StartDate<br />@Model.StartTime - @Model.EndTime</p><!--Date and time of the event-->
                <h3>Location</h3>
                <p>@Model.Address<br />@Model.City, @Model.State @Model.Zipcode</p><!--Location of the event-->
                <!-- <h3>View Map</h3>-->
                <!--link to the Google map at bottom of page-->
            </div>
        </div>
    </div>
    <hr>
    <div class="centered-text top-buffer">
        <a id="organizer"><h3>Organizer Information</h3></a>
        <p>@Model.OrganizerDescription</p>
        <p></p>

        <!--MAP-->

    </div>
</body>



