@model WebMvc.Models.Event
<form asp-controller="Wishlist" asp-action="AddToWishlist">
    <a href="~/ViewModels/EventCatalogIndexViewModel.cs">~/ViewModels/EventCatalogIndexViewModel.cs</a>

    <img class="esh-event-thumbnail" src="@Model.ImageUrl" />

    <input class="esh-event-button" type="submit" value="[ ADD TO WishList ]" />

    <div class="esh-event-title">

        <span>@Model.Title</span>

    </div>
    <div class="esh-event-city">

        <span>@Model.City</span>

    </div>

    <div class="esh-event-price">

        <span>@Model.Price.ToString("N2")</span>

    </div>

    <input type="hidden" asp-for="@Model.EventCategory" name="eventcategory" />

    <input type="hidden" asp-for="@Model.EventCategoryId" name="eventcategoryId" />

    <input type="hidden" asp-for="@Model.EventType" name="eventtype" />

    <input type="hidden" asp-for="@Model.EventTypeId" name="eventtypeId" />

    <input type="hidden" asp-for="@Model.Id" name="id" />

    <input type="hidden" asp-for="@Model.Title" name="title" />

    <input type="hidden" asp-for="@Model.ImageUrl" name="imageUri" />

    <input type="hidden" asp-for="@Model.Price" name="price" />


</form>