@model  WebMvc.Models.CartModels.Cart

@{
    ViewData["Title"] = "My Cart";
}

<div class="container">
    @if (TempData.ContainsKey("CartBasketInoperativeMsg"))
    {
        <br />
        <div class="alert alert-warning" role="alert">
            &nbsp;@TempData["CartBasketInoperativeMsg"]
        </div>
    }
    else
    {
        <article class="esh-basket-titles row">
            <br />
            @if (TempData.ContainsKey("CartBasketInoperativeMsg"))
            {
                <div class="alert alert-warning" role="alert">
                    &nbsp;@TempData["CartBasketInoperativeMsg"]
                </div>
            }

            <section class="esh-basket-title col-xs-3">Product</section>
            <section class="esh-basket-title col-xs-4 hidden-lg-down"></section>
            <section class="esh-basket-title col-xs-2">Price</section>
            <section class="esh-basket-title col-xs-1">Quantity</section>
            <section class="esh-basket-title col-xs-2">Cost</section>
        </article>


        @for (int i = 0; i < Model.Items.Count; i++)
        {
            var item = Model.Items[i];

        <article class="esh-basket-items  row">
            <div>
                <section class="esh-basket-item esh-basket-item--middle col-xs-3 hidden-lg-down">
                    <img class="esh-basket-image" src="@item.ImageUrl" />
                </section>
                <section class="esh-basket-item esh-basket-item--middle col-xs-4">@item.Title</section>
                <section class="esh-basket-item esh-basket-item--middle col-xs-2">
            
                    @if (item.Price == 0)
                    {
                        <span class="esh-event-price-free">FREE</span>
                    }
                    else
                    {
                        <span class="esh-event-price">@item.Price.ToString("N2")</span>

                    }
                </section>
            <section class="esh-basket-item esh-basket-item--middle col-xs-1">
                <input type="hidden" name="@("quantities[" + i +"].Key")" value="@item.EventId" />
                <input type="number" class="esh-basket-input" min="1" name="@("quantities[" + i +"].Value")" value="@item.Quantity" />
            </section>
            <section class="esh-basket-item esh-basket-item--middle esh-basket-item--mark col-xs-2">$ @Math.Round(item.Quantity * item.Price, 2).ToString("N2")</section>
</div>
                <div class="row">

                </div>
            </article>

            <div class="esh-basket-items--border row">
                @*@if (item.OldUnitPrice != 0)
                {
                    <div class="alert alert-warning esh-basket-margin12" role="alert">&nbsp;Note that the price of this article changed in our Catalog. The old price when you originally added it to the basket was $ @item.OldUnitPrice </div>
                }*@
            </div>
            <br />
        }

        <div class="container">
            <article class="esh-basket-titles esh-basket-titles--clean row">
                <section class="esh-basket-title col-xs-10"></section>
                <section class="esh-basket-title col-xs-2">Total</section>
            </article>

            <article class="esh-basket-items row">
                <section class="esh-basket-item col-xs-10"></section>
                <section class="esh-basket-item esh-basket-item--mark col-xs-2">$ @Model.Total()</section>
            </article>

            <article class="esh-basket-items row">
                <section class="esh-basket-item col-xs-7"></section>
                <section class="esh-basket-item col-xs-2">
                    <button class="btn esh-basket-checkout" name="name" value="" type="submit">Update</button>
                </section>
                <section class="esh-basket-item col-xs-3">
                    <input type="submit"
                           class="btn esh-basket-checkout"
                           value="CHECKOUT" name="action" />
                </section>
            </article>
        </div>
    }

</div>
