@model WebMvc.Models.EventCategory



<form asp-controller="EventCatalog" asp-action="EventSearchByCategory" method="post">

    <a href="@Url.Action("EventSearchByCategory","EventCatalog",
            new { EventCategoryFilterApplied = @Model.Id })">
        <img class="class="img-fluid img-thumbnail"" src="@Model.ImageUrl" style="width:320px;height:150px"/>
    </a>

    @* <input type="image" name="submitCategory" src="@Model.ImageUrl" border="0" alt="@Model.Name" />
        </a>*@
    <p>
        <a>@Model.Name</a>
    </p>



    <input type="hidden" asp-for="@Model.Id" value="@Model.Id" name="id" />

    <input type="hidden" asp-for="@Model.Name" name="name" />

    <input type="hidden" asp-for="@Model.ImageUrl" name="imageUri" />



</form>