@model WebMvc.Models.Event


<form asp-controller="EventDetail" asp-action="EventDetail">

    <input class="esh-event-thumbnail" type="image" name="clickeventdetails" src="@Model.ImageUrl" border="0" alt="EventImage" />
    

    <input type="hidden" asp-for="@Model.Id" name="id" />

</form>

<form asp-controller="Cart" asp-action="AddToCart">

    <input class="esh-event-button" type="submit" value="[ ADD TO CART ]" />

    <div class="esh-event-title">
        <a href="@Url.Action("EventDetail", "EventDetail", new { id = @Model.Id })" class="esh-event-title"><span>@Model.Title</span></a>
    </div>

    <div class="esh-event-address">

        <span>@Model.Address</span>

    </div>

    <div class="esh-event-date">

        <span>@Model.StartDate.ToShortDateString()</span>

    </div>
    @if (Model.Price == 0)
    {
        <span class="esh-event-price-free">FREE</span>
    }
    else
    {

        <span class="esh-event-price">@Model.Price.ToString("N2")</span>

    }

        <div class="esh-event-category">
            <a href="@Url.Action("About", "Home", new { id = @Model.EventCategoryId, name = @Model.EventCategory })"><span>@Model.EventCategory</span></a>
        </div>

    <input type="hidden" asp-for="@Model.EventCategory" name="eventcategory" />

    <input type="hidden" asp-for="@Model.EventCategoryId" name="eventcategoryId" />

    <input type="hidden" asp-for="@Model.EventType" name="eventtype" />

    <input type="hidden" asp-for="@Model.EventTypeId" name="eventtypeId" />

    <input type="hidden" asp-for="@Model.Id" name="id" />

    <input type="hidden" asp-for="@Model.Title" name="title" />

    <input type="hidden" asp-for="@Model.ImageUrl" name="imageUri" />

    <input type="hidden" asp-for="@Model.Price" name="price" />

</form>