@model WebMvc.Models.EventCategory



<form asp-controller="Home" asp-action="About" method="post">


    
    <input type="image" name="submitCategory" src="@Model.ImageUrl"   border="0" alt="@Model.Name" />
    <p>
        <a>@Model.Name</a>
    </p>


  
    <input type="hidden" asp-for="@Model.Id" value ="@Model.Id" name="id" />

    <input type="hidden" asp-for="@Model.Name" name="name" />

    <input type="hidden" asp-for="@Model.ImageUrl" name="imageUri" />



</form>